body,
form,
div,
header,
section,
footer,
p,
span,
ul,
li,
p,
dd,
dl,
dt,
img,
header {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../MyriadPro-Regular.woff') format('woff'), url('../MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
}
header nav {
  position: relative;
  width: 1001px;
  margin: auto;
  height: 100%;
}
header nav .logo {
  display: block;
  float: left;
  position: absolute;
  top: 15%;
  left: 0;
}
header nav .logo:hover {
  opacity: 0.5;
}
header nav ul {
  list-style: none;
  float: right;
}
header nav ul li {
  display: inline-block;
  padding: 0 15px;
}
header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font: 18px MyriadPro-Regular, Arial;
  line-height: 60px;
}
header nav ul li:hover {
  background-color: #ff7e1e;
}
header nav ul li:hover a {
  color: #fff;
}
.banner {
  position: relative;
  width: 1001px;
  margin: auto;
}
.banner .shop {
  position: absolute;
  bottom: 60px;
  right: 160px;
  display: block;
  width: 130px;
  height: 35px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: #95d353;
  font: 16px MyriadPro-Regular, Arial;
  line-height: 35px;
  text-align: center;
  border: none;
  font-size: 20px;
  line-height: 38px;
  font-weight: bold;
  border-radius: 5px;
}
.banner .shop:hover {
  background-color: #ff7e1e;
}
.content {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #26293a;
}
.nav {
  display: flex;
  width: 1001px;
  margin: 0 auto;
  border-bottom: 1px solid #61678a;
}
.nav .nav-items {
  display: block;
  width: 188px;
  height: 40px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: #ff7e1e;
  font: 16px MyriadPro-Regular, Arial;
  line-height: 40px;
  text-align: center;
  border: none;
  font: 900 32px/42px MyriadPro-Regular, arial;
  background-color: #61678a;
  transform: skewX(55deg);
  margin: auto;
}
.nav .nav-items div {
  transform: skewX(-55deg);
}
.nav .nav-items:hover {
  background-color: #ff7e1e;
}
.nav-items-list {
  display: flex;
  width: 1001px;
  margin: 12px auto;
}
.nav-items-list a {
  display: block;
  width: auto;
  height: 27px;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #61678a;
  font: 16px MyriadPro-Regular, Arial;
  line-height: 27px;
  text-align: center;
  border: none;
  border-radius: 15px;
  line-height: 28px;
  margin-right: 9px;
}
.nav-items-list a:hover {
  background-color: #ff7e1e;
}
.products-wraper {
  position: relative;
  justify-content: space-between;
  width: 1001px;
  margin: auto;
  display: flex;
  /* 然后我们定义伸缩流方向，并且可以换行
   * 记得我们要这样设置:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  align-items: baseline;
}
.products-wraper .products {
  margin-bottom: 20px;
  padding: 20px;
  width: 195px;
  height: -320px;
  background-color: #fff;
}
.products-wraper .products img {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 150px;
  transition: transform .2s linear;
}
.products-wraper .products img:hover {
  transform: translateX(-5px);
}
.products-wraper .products .name {
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  height: 38px;
  overflow: hidden;
  font: 14px/16px MyriadPro-Regular, arial;
  color: #000;
}
.products-wraper .products .name:hover {
  color: #ff7e1e;
  text-decoration: underline;
}
.products-wraper .products .price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.products-wraper .products .price .new {
  font: 22px MyriadPro-Regular, arial;
  line-height: 46px;
  color: red;
  margin-right: 5px;
}
.products-wraper .products .price del {
  color: #999999;
  font: 16px MyriadPro-Regular, arial;
  line-height: 46px;
  margin-left: 5px;
}
.products-wraper .products .shop {
  margin: 0 auto;
  display: block;
  width: 125px;
  height: 35px;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
  background-color: #f2f2f2;
  font: 16px MyriadPro-Regular, Arial;
  line-height: 35px;
  text-align: center;
  border: none;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  line-height: 37px;
}
.products-wraper .products .shop:hover {
  color: #fff;
  background: #ff7e1e;
  border-color: #ff7e1e;
}
.products-wraper .products .off {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background-color: red;
  padding: 2px;
}
.products-wraper .products .off .off-count,
.products-wraper .products .off .off-f {
  position: relative;
  top: 10px;
  width: 55px;
  text-align: center;
  font: 600 26px MyriadPro-Regular, arial;
  color: #fff;
}
.products-wraper .products .off .off-f {
  top: 3px;
  font-size: 14px;
  font-weight: 500;
}
.footer .copyright {
  font-size: 15px;
  color: #bbbbbc;
  line-height: 24px;
}
.sub-menu {
  margin-top: 25px;
  color: #a8a8a8;
  font-size: 17px;
}
.sub-menu a {
  padding: 0 10px;
  color: #666666;
  vertical-align: 0;
}
.sub-menu a:hover {
  text-decoration: underline;
  text-decoration-color: #00cdb7;
  color: #00cdb7;
}
.share {
  display: flex;
  width: 901px;
  margin: auto;
  margin-top: 20px;
}
.share a {
  display: inline-block;
  margin: auto;
  width: 85px;
  height: 85px;
  background: url(../images/share.png) no-repeat;
}
.share .share-fb {
  background-position: 0 0;
}
.share .share-tt {
  background-position: -105px 0;
}
.share .share-yt {
  background-position: -210px 0;
}
.share .share-tvc {
  background-position: -315px 0;
}
.share .share-yout {
  background-position: -420px 0;
}
.share .share-in {
  background-position: -525px 0;
}
.share .share-gg {
  background-position: -630px 0;
}
.share .share-w {
  background-position: -735px 0;
}
.share .share-fb:hover {
  background-position: 0 -87px;
}
.share .share-tt:hover {
  background-position: -105px -87px;
}
.share .share-yt:hover {
  background-position: -210px -87px;
}
.share .share-tvc:hover {
  background-position: -315px -87px;
}
.share .share-yout:hover {
  background-position: -420px -87px;
}
.share .share-in:hover {
  background-position: -525px -87px;
}
.share .share-gg:hover {
  background-position: -630px -87px;
}
.share .share-w:hover {
  background-position: -735px -87px;
}
.pay-box {
  width: 1000px;
  height: 66px;
  background: url(../images/pay.jpg) no-repeat;
  margin: auto;
  margin-top: 6px;
}
.pay-box .pay1 {
  width: 112px;
  height: 52px;
  position: absolute;
  left: 34px;
  top: 0;
}
.pay-box .pay2 {
  width: 94px;
  height: 52px;
  position: absolute;
  left: 989px;
  top: 0;
}
.pay-box .pay3 {
  width: 98px;
  height: 52px;
  position: absolute;
  left: 1088px;
  top: 0;
}
.follow {
  padding-top: 18px;
  padding-bottom: 10px;
  width: 100%;
  font: 34px/1 "Myriad Pro", 'MyriadPro-Regular';
  border-bottom: 1px dashed #e0e0e0;
  text-align: center;
  color: #666666;
}
.footer {
  height: 410px;
  width: 100%;
  background: #ffffff;
  border-top: none;
  text-align: center;
  font-family: "Arial";
}
.footer .inner {
  width: 100%;
  margin: auto;
  background: #ffffff;
}
