@site-nav-bg: #f0f0f0;
@site-nav-width: 1001px;
@site-nav-height: 60px;
@font: MyriadPro-Regular, arial;
//mixins
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//按钮
.button(@width, @height, @color, @bg-color, @padding:0){
    display:block;
    width: @width;
    height: @height;
    color: @color;
    padding-left: @padding;
    padding-right: @padding;
    background-color: @bg-color;
    font: 16px MyriadPro-Regular, Arial;
    line-height: @height;
    text-align: center;
    border:none;
}
//-----------------------reset-start-----------------------
body, form, div, header, section, footer, p, span, ul, li, p, dd, dl, dt, img, header {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../MyriadPro-Regular.woff') format('woff'), url('../MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
//-----------------------reset-end-----------------------
//-----------------------header-start-----------------------
header{
    width: 100%;
    height: @site-nav-height;
    background-color: @site-nav-bg;
    nav{
        position: relative;
        width: @site-nav-width;
        margin: auto;
        height: 100%;
        
        .logo{
            display: block;
            float: left;
            position: absolute;
            top: 15%;
            left: 0;
            
            &:hover{
               opacity: 0.5;
              }
        }
        ul{
            list-style: none;
            float: right;
            li{
                display: inline-block;
                padding: 0 15px;
                
                a{
                    display: block;
                    width: 100%;
                    height: 100%;                    
                    color: #000;
                    font: 18px MyriadPro-Regular, Arial; 
                    line-height: @site-nav-height;                 
                }    
                &:hover{
                    background-color: #ff7e1e;
                    a{
                        color: #fff;
                    }
                }        
            }
        }
    }
}
//-----------------------header-end-----------------------

//----------------------body-start----------------------
.banner{
    position: relative;
    width: @site-nav-width;
    margin: auto;
    .shop{
        position: absolute;
        bottom: 60px;
        right: 160px;
        .button(130px, 35px, #fff, #95d353);
        font-size: 20px;
        line-height: 38px;
        font-weight: bold;
        border-radius: 5px;
        
         &:hover{
             background-color: #ff7e1e;
         }
    }
}
 .content{
     width: 100%;
     margin: auto;
     padding-top: 20px;
     padding-bottom: 30px;
     background-color: #26293a;
   
 }
 .nav{
     display: flex;
     width: @site-nav-width;
     margin: 0 auto;
     border-bottom: 1px solid #61678a;
     
     
     .nav-items{
         .button(188px, 40px, #fff, #ff7e1e);
         font: 900 ~"32px/42px" @font; 
         background-color: #61678a;
         transform: skewX(55deg);
         margin: auto;
         div{
             transform: skewX(-55deg);
         }
         &:hover{
             background-color: #ff7e1e;
         }
     }
 }
 
 .nav-items-list{
     display: flex;
     width: @site-nav-width;
     margin: 12px auto;
     
     a{
         .button(auto, 27px, #fff, #61678a, 8px);
         border-radius: 15px;
         line-height: 28px;
         margin-right: 9px;
         
         &:hover{
             background-color: #ff7e1e;
         }
     }
 }
 
//--products-start--
.products-wraper{
    position: relative;
    justify-content: space-between;
    width: @site-nav-width;
    margin: auto;
    display: flex;
   /* 然后我们定义伸缩流方向，并且可以换行
   * 记得我们要这样设置:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
   flex-flow: row wrap;
   align-items: baseline;
   
   .products{
       @padding: 20px;
       @border: 0;
       @rel-width: 235px;
       @rel-height: 320px;
       
       margin-bottom: 20px;
       padding: @padding;
       width: @rel-width - 2 * @padding;
       height: @rel-height - 2 * @rel-height;
       background-color: #fff;
       
       img{
           margin: 0 auto;
           display: block;
           width: 150px;
           height: 150px;
           transition: transform .2s linear;
           &:hover{
               transform: translateX(-5px);
           }
       }
       .name{
           display: block;
           padding: 10px 0;
           text-align: center;
           width: 100%;
           height: 38px;
           overflow: hidden;
           font: 14px/16px @font;
           color: #000;
           
           &:hover{
               color: #ff7e1e;
               text-decoration: underline;
           }
       }
            .price{
               display: flex;
               justify-content: center;
               align-items: flex-end;
               
               .new{
                   font: 22px @font;
                   line-height: 46px;
                   color: red;
                   margin-right: 5px;
               }
               del{
                   color: #999999;
                   font: 16px @font;
                   line-height: 46px;
                   margin-left: 5px;
               }
           }
           .shop{
               margin: 0 auto;
               .button(125px, 35px, #000, #f2f2f2);
               border: 1px solid #d1d1d1;
               border-radius: 10px;
               line-height: 37px;
               
               &:hover{
                   color: #fff;
                   background: #ff7e1e;
                   border-color: #ff7e1e;
                   
               }
           }
           .off{
               @size: 55px;
               @i: 5px;
               position: absolute;
               right: @i;
               top: @i;
               z-index: 999;
               width: @size;
               height: @size;
               border-radius: @size;
               background-color: red;
               padding: 2px;
               
               .off-count, .off-f{
                   position: relative;
                   top: 10px;
                   width: @size;
                   text-align: center;
                   font: 600 26px @font;
                   color: #fff;
               }
               .off-f{
                   top: 3px;
                   font-size: 14px;
                   font-weight: 500;
               }
           }
   }
}
//--prodcuts-end--
 
//----------------------body-end--------------------------


//-----------------------footer-start-----------------------
.footer .copyright {
    font-size: 15px;
    color: #bbbbbc;
    line-height: 24px;
}

.sub-menu {
    margin-top: 25px;
    color: #a8a8a8;
    font-size: 17px;
}

    .sub-menu a {
        padding: 0 10px;
        color: #666666;
        vertical-align: 0;
    }

        .sub-menu a:hover {
            text-decoration: underline;
            text-decoration-color: #00cdb7;
            color: #00cdb7;
        }

.share {
    display: flex;
    width: @site-nav-width - 100px;
    margin: auto;
    margin-top: 20px;
}

    .share a {
        display: inline-block;   
        margin: auto;
        width: 85px;
        height: 85px;
        background: url(../images/share.png) no-repeat;
    }

    .share .share-fb {
        background-position: 0 0;
    }

    .share .share-tt {
        background-position: -105px 0;
    }

    .share .share-yt {
        background-position: -210px 0;
    }

    .share .share-tvc {
        background-position: -315px 0;
    }

    .share .share-yout {
        background-position: -420px 0;
    }

    .share .share-in {
        background-position: -525px 0;
    }

    .share .share-gg {
        background-position: -630px 0;
    }

    .share .share-w {
        background-position: -735px 0;
    }

    .share .share-fb:hover {
        background-position: 0 -87px;
    }

    .share .share-tt:hover {
        background-position: -105px -87px;
    }

    .share .share-yt:hover {
        background-position: -210px -87px;
    }

    .share .share-tvc:hover {
        background-position: -315px -87px;
    }

    .share .share-yout:hover {
        background-position: -420px -87px;
    }

    .share .share-in:hover {
        background-position: -525px -87px;
    }

    .share .share-gg:hover {
        background-position: -630px -87px;
    }

    .share .share-w:hover {
        background-position: -735px -87px;
    }

.pay-box {
    width: 1000px;
    height: 66px;
    background: url(../images/pay.jpg) no-repeat;
    margin: auto;
    margin-top: 6px;
}

    .pay-box .pay1 {
        width: 112px;
        height: 52px;
        position: absolute;
        left: 34px;
        top: 0;
    }

    .pay-box .pay2 {
        width: 94px;
        height: 52px;
        position: absolute;
        left: 989px;
        top: 0;
    }

    .pay-box .pay3 {
        width: 98px;
        height: 52px;
        position: absolute;
        left: 1088px;
        top: 0;
    }

.follow { 
    padding-top: 18px;
    padding-bottom: 10px;
    width: 100%;
    font: 34px/1 "Myriad Pro",'MyriadPro-Regular';
    border-bottom: 1px dashed #e0e0e0;
    text-align: center;
    color: #666666;
}

.footer {
    height: 410px;
    width: 100%;
    background: #ffffff;
    border-top: none;
    text-align: center;
    font-family: "Arial";
}

    .footer .inner {
        width: 100%;
        margin: auto;
        background: #ffffff;
    }
//-----------------------footer-end-----------------------